.containerloading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1650px;
  z-index: 10;
  background-color: white;
  -webkit-animation: disparition 0.01s 2s both;
          animation: disparition 0.01s 2s both;
}

.balls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 200px;
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .balls {
    margin-top: 150px;
  }
}

@media all and (max-width: 690px) {
  .balls {
    margin-top: 150px;
  }
}

.balls__ball {
  content: "";
  background-color: #99E2D0;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50px;
  opacity: 0;
  -webkit-animation: progress-ball 1000ms backwards infinite ease-in-out alternate;
          animation: progress-ball 1000ms backwards infinite ease-in-out alternate;
}

.balls__ball--1 {
  -webkit-animation-delay: 333.33333ms;
          animation-delay: 333.33333ms;
}

.balls__ball--1-inv {
  -webkit-animation-delay: 333.33333ms;
          animation-delay: 333.33333ms;
  animation-direction: alternate-reverse;
  background-color: #9356DC;
}

.balls__ball--2 {
  -webkit-animation-delay: 666.66667ms;
          animation-delay: 666.66667ms;
}

.balls__ball--2-inv {
  -webkit-animation-delay: 666.66667ms;
          animation-delay: 666.66667ms;
  animation-direction: alternate-reverse;
  background-color: #9356DC;
}

.balls__ball--3 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.balls__ball--3-inv {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  animation-direction: alternate-reverse;
  background-color: #9356DC;
}

@media all and (max-width: 690px) {
  .balls__ball {
    width: 50px;
    height: 50px;
  }
}

* {
  margin: 0px;
  padding: 0px;
}

.containerall {
  width: 1200px;
  margin: 0 auto;
}

@media all and (max-width: 690px) {
  .containerall {
    width: 375px;
  }
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .containerall {
    width: 768px;
  }
}

body {
  font-family: roboto, sans-serif;
}

h2 {
  text-align: center;
  font-size: 30px;
}

@media all and (max-width: 690px) {
  h2 {
    font-size: 22px;
    text-align: left;
  }
}

.btn {
  color: #FFFFFF;
  border-radius: 100px;
  background: linear-gradient(175deg, #ff79da 0%, #d66cdb 39%, #ab5edc 85%, #9b59dc 100%);
  -webkit-box-shadow: 0px 15px 20px 0px #d3d3d3;
          box-shadow: 0px 15px 20px 0px #d3d3d3;
  font-size: 20px;
}

@media all and (max-width: 690px) {
  .btn {
    font-size: 16px;
  }
}

.btn:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0px 20px 20px 0px #808080;
          box-shadow: 0px 20px 20px 0px #808080;
}

.btn--long {
  width: 200px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 0px 10px 0px;
  font-size: 15px;
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .btn--long {
    margin-right: 200px;
    margin-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
  }
}

@media all and (max-width: 690px) {
  .btn--long {
    margin-right: 60px;
    margin-left: 60px;
    padding: 15px 0px 15px 0px;
  }
}

.btn--medium {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
}

header {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 25px;
  -webkit-box-shadow: 0px 0px 15px 0px #606060;
          box-shadow: 0px 0px 15px 0px #606060;
}

@media all and (max-width: 690px) {
  header {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

header img {
  height: 40px;
}

@media all and (max-width: 690px) {
  header img {
    height: 30px;
  }
}

.fa-arrow-left {
  position: absolute;
  left: 300px;
  top: 35px;
  opacity: 0.8;
  font-size: 30px;
  color: #000000;
}

@media all and (max-width: 690px) {
  .fa-arrow-left {
    font-size: 20px;
    position: absolute;
    left: 6%;
    top: 3%;
  }
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .fa-arrow-left {
    position: absolute;
    left: 50px;
    top: 35px;
  }
}

.block {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (max-width: 690px) {
  .block {
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-left: 20px;
  }
}

.block--lightgrey {
  background-color: #f9f9f9;
}

.block__presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media all and (max-width: 690px) {
  .block__presentation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.photo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 500px;
}

@media all and (max-width: 690px) {
  .photo {
    height: 270px;
  }
}

.titlesection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 60px 60px 0px 0px;
  margin-top: -100px;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  position: -webkit-sticky;
  position: sticky;
  background: #f9f9f9;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 30px;
  font-family: shrikhand, sans-serif;
}

@media all and (max-width: 690px) {
  .titlesection {
    border-radius: 40px 40px 0px 0px;
    margin-top: -69px;
    padding: 25px 25px 0px 25px;
    font-size: 18px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .titlesection {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.hearts {
  position: relative;
}

.hearts:hover .hearts--pink {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.hearts--empty {
  position: absolute;
  bottom: 25%;
  right: 0%;
  font-size: 30px;
  margin-right: 30px;
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .hearts--empty {
    bottom: 20%;
    font-size: 25px;
    margin-right: 0px;
  }
}

@media all and (max-width: 690px) {
  .hearts--empty {
    bottom: 10%;
    font-size: 25px;
    margin-right: 25px;
  }
}

.hearts--pink {
  background: -webkit-linear-gradient(175deg, #ff79da 0%, #d66cdb 39%, #ab5edc 85%, #9b59dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 25%;
  right: 20%;
  font-size: 30px;
  margin-right: 30px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
  overflow: hidden;
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .hearts--pink {
    bottom: 20%;
    font-size: 25px;
    margin-right: 0px;
  }
}

@media all and (max-width: 690px) {
  .hearts--pink {
    bottom: 10%;
    font-size: 25px;
    margin-right: 25px;
  }
}

.container {
  -webkit-box-shadow: 0px 15px 20px 0px #d3d3d3;
          box-shadow: 0px 15px 20px 0px #d3d3d3;
  margin-top: 50px;
}

@media all and (max-width: 690px) {
  .container {
    margin-top: 25px;
  }
}

.container__optioncontainer {
  margin-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  border-radius: 50px;
  background: #f9f9f9;
}

@media all and (max-width: 690px) {
  .container__optioncontainer {
    width: 90%;
    margin-left: 15px;
    border-radius: 20px;
  }
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .container__optioncontainer {
    position: relative;
    width: 26%;
    padding-bottom: 15px;
    border-radius: 30px;
  }
}

.container__optioncontainer--bglight {
  background: rgba(146, 86, 220, 0.1);
}

.descriptifbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 25px 0px 25px;
  border-radius: 30px;
  -webkit-transform: rotate(0turn);
          transform: rotate(0turn);
}

.descriptifbox:hover .box-ok {
  -webkit-transform-origin: right 100%;
          transform-origin: right 100%;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.descriptifbox:hover .fa-check-circle {
  -webkit-transform: rotate(2turn);
          transform: rotate(2turn);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

@media all and (max-width: 690px) {
  .descriptifbox:hover .fa-check-circle {
    padding: 0px;
    border-radius: 15px;
  }
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .descriptifbox:hover .fa-check-circle {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
}

@media all and (max-width: 690px) {
  .descriptifbox__link {
    padding-left: 10px;
  }
}

.descriptifbox__menu {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 690px) {
  .descriptifbox__menu {
    width: 80%;
  }
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .descriptifbox__menu {
    width: 80%;
  }
}

.details {
  width: calc(100% - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .details {
    width: 70%;
  }
}

@media all and (max-width: 690px) {
  .details {
    padding-left: 10px;
  }
}

.details p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 5px solid #99E2D0;
  opacity: 0.5;
  margin-top: 50px;
  margin-left: 25px;
  font-size: 20px;
  padding-bottom: 10px;
}

@media all and (max-width: 690px) {
  .menu {
    width: 12%;
    border-bottom: 3px solid #99E2D0;
    margin-top: 25px;
    font-size: 15px;
    padding-bottom: 5px;
  }
}

.menu__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .menu__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu__price {
  font-weight: bold;
  opacity: 0.5;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 23px;
  padding-right: 10px;
  -webkit-animation: boxreverse 400ms linear both;
          animation: boxreverse 400ms linear both;
}

.menu__price:hover {
  -webkit-animation: box 400ms linear;
          animation: box 400ms linear;
  padding-right: 70px;
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .menu__price {
    font-size: 25px;
    /*width: 10%;*/
  }
}

.menu__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.box-ok {
  width: 15%;
  height: 58px;
  background-color: #99E2D0;
  border-radius: 0px 25px 25px 0px;
  text-align: center;
  position: absolute;
  right: 0%;
  top: 0%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .box-ok {
    height: 80px;
  }
}

@media all and (max-width: 690px) {
  .box-ok {
    border-radius: 0px 15px 15px 0px;
  }
}

.box-ok .fa-check-circle {
  font-size: 30px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.text {
  font-size: 15px;
  opacity: 0.8;
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .text {
    font-size: 14px;
  }
}

@media all and (max-width: 690px) {
  .text {
    font-size: 15px;
  }
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .text {
    font-size: 12px;
  }
}

.text__bold {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 25px;
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .text__bold {
    font-size: 18px;
    margin: 10px 0px 5px 0px;
  }
}

@media all and (max-width: 690px) {
  .text__bold {
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.text__bold--menu {
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0px 5px 0px;
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .text__bold--menu {
    font-size: 25px;
  }
}

.text__bold a {
  text-decoration: none;
  color: #000;
}

.text__opacity {
  font-size: 20px;
  opacity: 0.5;
}

@media all and (max-width: 690px) {
  .text__opacity {
    font-size: 18px;
  }
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .text__opacity {
    font-size: 18px;
  }
}

.text__opacity--menu {
  font-size: 13px;
  margin-bottom: 10px;
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .text__opacity--menu {
    font-size: 20px;
  }
}

footer {
  text-align: center;
  background-color: #363636;
  color: #FFFFFF;
  padding: 50px;
}

@media all and (max-width: 690px) {
  footer {
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  footer {
    text-align: left;
  }
}

footer img {
  color: #FFFFFF;
  margin-bottom: 20px;
}

@media all and (max-width: 690px) {
  footer img {
    height: 17px;
  }
}

footer .footer__informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 20px;
  opacity: 0.8;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media all and (max-width: 690px) {
  footer .footer__informations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 15px;
  }
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  footer .footer__informations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media all and (max-width: 690px) {
  footer .footer__informations p {
    margin-bottom: 5px;
  }
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  footer .footer__informations p {
    margin-bottom: 10px;
  }
}

footer .footer__informations a {
  text-decoration: none;
  color: #FFFFFF;
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  footer .footer__informations a {
    margin-bottom: 15px;
  }
}

@media all and (max-width: 690px) {
  footer .footer__informations a {
    margin-bottom: 15px;
  }
}

@media all and (max-width: 690px) {
  footer .footer__informations .fa-hands-helping {
    font-size: 15px;
  }
}

footer .footer__informations--phrase {
  margin-left: 10px;
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  footer .footer__informations--phrase {
    margin-left: 20px;
  }
}

nav {
  padding: 10px 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  opacity: 0.5;
  background-color: #d3d3d3a1;
  font-size: 20px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media all and (max-width: 690px) {
  nav {
    padding: 15px 0px 15px 0px;
    font-size: 15px;
  }
}

@media all and (max-width: 690px) {
  nav i {
    font-size: 17px;
  }
}

nav p {
  margin-left: 25px;
}

@media all and (max-width: 690px) {
  nav p {
    margin-left: 15px;
  }
}

.intro {
  text-align: center;
}

.intro__catchphrase1 {
  font-size: 30px;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-left: 50px;
  font-weight: bold;
}

@media all and (max-width: 690px) {
  .intro__catchphrase1 {
    font-size: 25px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
}

.intro__catchphrase2 {
  margin-top: 25px;
  opacity: 0.5;
  font-size: 20px;
}

@media all and (max-width: 690px) {
  .intro__catchphrase2 {
    font-size: 17px;
    margin-top: 10px;
  }
}

.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

@media all and (max-width: 690px) {
  .option {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.option__number {
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 50px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-left: -10px;
  font-size: 15px;
}

@media all and (max-width: 690px) {
  .option__number {
    border-radius: 100px;
    margin-left: -15px;
  }
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .option__number {
    text-align: center;
    width: 4%;
    position: absolute;
    bottom: 95%;
    right: 45%;
    border-radius: 15px;
  }
}

.option__choice {
  font-weight: bold;
  padding-left: 20px;
}

@media all and (max-width: 690px) {
  .option__choice {
    padding-left: 10px;
  }
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .option__choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.option i {
  font-size: 20px;
  margin-right: 20px;
  opacity: 0.5;
}

@media all and (max-width: 690px) {
  .option i {
    font-size: 18px;
    margin-left: 10px;
  }
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .option i {
    margin-top: 10px;
    margin-right: 0%;
    margin-bottom: 10px;
    font-size: 20px;
  }
}

.option .fa-store {
  color: #9356DC;
  opacity: 1;
}

.container__restaurant {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 30px;
  padding-bottom: 10px;
  position: relative;
}

@media all and (max-width: 690px) {
  .container__restaurant {
    width: 100%;
    padding-bottom: 20px;
    border-radius: 15px;
  }
}

.container__restaurant--photo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 30px 30px 0px 0px;
}

@media all and (max-width: 690px) {
  .container__restaurant--photo {
    height: 160px;
    border-radius: 15px 15px 0px 0px;
  }
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .container__restaurant--photo {
    height: 180px;
  }
}

.container__restaurant--badge {
  width: 20%;
  background: #99E2D0;
  font-size: 15px;
  text-align: center;
  padding: 10px 0px 10px 0px;
  color: #008000;
  border-radius: 5px;
  font-weight: bold;
  position: absolute;
  right: 50px;
  top: 30px;
}

@media all and (max-width: 690px) {
  .container__restaurant--badge {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
    right: 15px;
    top: 15px;
  }
}

@media all and (min-width: 691px) and (max-width: 1024px) {
  .container__restaurant--badge {
    font-size: 10px;
    right: 15px;
    top: 15px;
  }
}

@-webkit-keyframes disparition {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes disparition {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@-webkit-keyframes progress-ball {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  17% {
    -webkit-transform: scaleX(0.18);
            transform: scaleX(0.18);
  }
  24% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  46% {
    -webkit-transform: scaleX(0.81);
            transform: scaleX(0.81);
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes progress-ball {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  17% {
    -webkit-transform: scaleX(0.18);
            transform: scaleX(0.18);
  }
  24% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  46% {
    -webkit-transform: scaleX(0.81);
            transform: scaleX(0.81);
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
/*# sourceMappingURL=main.css.map */