*{
    margin: 0px;
    padding: 0px;
}
.containerall{
    width: 1200px;
    margin: 0 auto;
    @include mobile-only{
        width:375px;
    }
    @include tablet-only{
        width:768px;
    }
}