header{
    text-align: center;
    padding-top: 30px;
    padding-bottom: nth($padding-bottom, 4);
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
         box-shadow: 0 8px 6px -6px black;
    @include mobile-only{
        padding-top: nth($padding-top, 2);
        padding-bottom: nth($padding-bottom, 2);
    }
    & img{
        height: 40px;
        @include mobile-only{
            height: 30px;
        }
    }
}
.fa-arrow-left{
    position: absolute;
    left: 300px;
    top: 35px;
    opacity: map-get($opacity, light);
    font-size: nth($font-size, 7);
    color: #000000;
    @include mobile-only{
        font-size: nth($font-size, 5);
        position: absolute;
        left: 6%;
        top: 3%;
    }
    @include tablet-only{
        position: absolute;
        left: 50px;
        top: 35px;
    }
}